body {
  min-height: 100vh;
  background: #fff8e1;
}

.login-container {
  min-height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 400px; /* más pequeño */
  border: none;
  border-radius: 20px;
  position: relative;
  padding-top: 60px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.logo-circle {
  width: 100px;
  height: 100px;
  background: #ffc107;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}
